{% extends 'catalog/base.html' %}

{% block title %}
    <title>Добавление записи в блог</title>
{%endblock%}

{% block content %}
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.entry_title }}<br>
            {{ form.entry_body }}<br>
            {{ form.entry_img }}<br>
            Опубликовать запись: {{ form.is_published }}<br>
            {{ result | safe }}<br>
            <button type="submit"  class="btn btn-warning">Добавить запись</button>
        </form>
{%endblock%}