{% extends 'catalog/base.html' %}
{% load custom_tags %}
{% block button_add %}
  {% if user.is_authenticated %}
  {% if perms.catalog.add_product %}
    <a class="btn btn-outline-secondary" href="{% url 'catalog:add_product' %}">Добавить Товар</a>
  {% endif %}
  {% else %}
          <p>Зарегистрируйтесь или Авторизуйтесь</p>
  {% endif %}

{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
      <div class="d-md-flex flex-md-equal w-auto my-md-auto pl-md-auto">
        {% for product in products %}
          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">{{ product.name | title }}</h2>
              {% if product.image %}
                <div class='product_img'>
                  <img src="{% mediapath product.image %}" style="max-width:100px">
                </div>
              {% endif %}
              <p class="card-text">{{ product.description }}</p>
              {% with active_version=product.active_version %}
                {% if active_version %}
                  <p class="card-text">Активная версия: {{ active_version.version_name }} ({{ active_version.version_number }})</p>
                {% endif %}
              {% endwith %}
            </div>
            <div class="card-body">
              <p class="card-text">Цена: {{ product.price }} руб.</p>
              {% if perms.catalog.set_published or user.is_superuser or product.user == user %}
              <a class="btn btn-warning" href="{% url 'catalog:product' product.id %}" role="button">Подробнее</a>
              <a class="btn btn-info" href="{% url 'catalog:update_product' product.id %}" role="button">Изменить</a>
              {% endif %}
              {% if perms.catalog.delete_product %}
              <a class="btn btn-danger" href="{% url 'catalog:delete_product' product.id %}" role="button">Удалить</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <footer class="text-muted">
        <div class="container">
          <p class="float-right"></p>
          <p>&copy; 2023 - {% now 'Y' %}</p>
        </div>
      </footer>
  {% else %}
          <p>Зарегистрируйтесь или Авторизуйтесь</p>
  {% endif %}
{% endblock %}
